### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# IntelliJ IDEA
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/                  # Project settings folder
*.iml                   # Module files
*.iws                   # Workspace files (older versions)
out/                    # Build output folder
.DS_Store               # macOS system file
*.log                   # Log files

# Optional: caches and temporary files
*.class
*.jar
*.war
*.ear